<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{url_for('templates', path='/dist/index.css')}}" rel="stylesheet">
	<script src="https://unpkg.com/htmx.org@1.9.6"
		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
		crossorigin="anonymous"></script>

	<!-- Refresh site - Dev -->
	<meta http-equiv="refresh" content="5">
</head>

<body class="flex flex-col bg-slate-800 h-screen p-5 space-y-2">
	<div class="p-5 bg-gray-600 border border-gray-800 rounded-md shadow flex grow-0 justify-center">
		<!-- Badge -->
		<div class="bg-yellow-600 text-l text-gray-100 px-20 py-2 rounded font-bold">TOURNAMENT CREATION</div>
	</div>

	<div class="flex flex-row grow space-x-2">

		<!-- Settings section -->
		<div class="bg-gray-600 border border-gray-800 rounded-md shadow p-2">
			<div>Map: Dust II</div>
			<div>Time limit: 120</div>
		</div>

		<!-- Player Section -->
		<div class="bg-gray-600 border border-gray-800 rounded-md shadow grow p-2">

		</div>
	</div>
	<!-- Footer -->
	<footer class="px-2 py-2 text-center font-medium text-gray-300 grow-0">
		This tool is still in very early development
	</footer>
</body>

</html>
