<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{url_for('templates', path='/dist/index.css')}}" rel="stylesheet">
	<script src="https://unpkg.com/htmx.org@1.9.6"
		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
		crossorigin="anonymous"></script>

	<!-- Refresh site - Dev -->
	<meta http-equiv="refresh" content="5">
</head>

<body class="flex flex-col bg-gray-700">

</body>

</html>
